@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-spin-slow {
    animation: spin-slow 2s linear infinite; /* Change '2s' to adjust the duration (in seconds) */
}

.bg-radial-neutral {
    background: radial-gradient(circle, #746f6f, #000);
  }
  
